/* Set background color for the page */
body {
    background-color: #2b5bdd;
  }
  
  /* Style for task list */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #c1c1c1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li:hover {
    background-color: #f12b2b;
  }
  
  /* Style for buttons */
  button, input[type="submit"], input[type="button"], input[type="reset"] {
    border: none;
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #0062CC;
  }
  
  /* Style for link */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  